beautifulsoup4==4.6.3
bs4==0.0.1
certifi==2018.11.29
chardet==3.0.4
colorama==0.3.9
comtypes==1.1.7
cycler==0.10.0
decorator==4.3.0
entrypoints==0.2.3
et-xmlfile==1.0.1
get==2018.11.19
html5lib==1.0.1
idna==2.8
ipykernel==4.9.0
ipython==6.5.0
ipython-genutils==0.2.0
ipywidgets==7.4.1
jdcal==1.4
jedi==0.12.1
jsonschema==2.6.0
jupyter==1.0.0
jupyter-client==5.2.3
jupyter-console==5.2.0
jupyter-core==4.4.0
kiwisolver==1.0.1
lxml==4.2.5
MarkupSafe==1.0
matplotlib==2.2.2
mistune==0.8.3
mpl-finance==0.10.0
nbconvert==5.3.1
nbformat==4.4.0
numpy==1.14.3
openpyxl==2.5.12
pandas==0.22.0
pandocfilters==1.4.2
parso==0.3.1
pickleshare==0.7.4
pillow==5.4.1
post==2018.11.20
prometheus-client==0.3.1
prompt-toolkit==1.0.15
public==2018.11.20
PyAutoGUI==0.9.39
Pygments==2.2.0
PyMsgBox==1.0.6
pyodbc==4.0.24
pyparsing==2.2.0
PyQt5==5.11.3
PyQt5-sip==4.19.13
PyScreeze==0.1.19
python-dateutil==2.7.3
PyTweening==1.0.3
pytz==2018.4
pywin32==224
pywinauto==0.6.5
pywinpty==0.5.4
pyzmq==17.1.2
qtconsole==4.4.1
query-string==2018.11.20
redis==3.0.1
requests==2.21.0
scikit-learn==0.20.2
scipy==1.2.0
seaborn==0.9.0
selenium==3.141.0
Send2Trash==1.5.0
simplegeneric==0.8.1
six==1.11.0
sklearn==0.0
SQLAlchemy==1.2.14
terminado==0.8.1
testpath==0.3.1
tornado==5.1
traitlets==4.3.2
urllib3==1.24.1
wcwidth==0.1.7
webencodings==0.5.1
widgetsnbextension==3.4.1
xlrd==1.2.0
XlsxWriter==1.1.2
